/*LOGO AND NAV*/
body {
    background-color:white;
    /* margin: 0px 25px 0px 25px; */
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 1%;
}

.logo {
    width: 95px;
    height: 50px;
}

.nav links, li {
    display: inline-block;
    padding: 0px 40px
}

.blue, a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black; 
}

.blue a:hover {
    color: #0065fc;
    padding-top: 35.5px; 
    border-top-style: solid;
    border-top-width: 2px;
}

#blue a {
    font-weight: bold;
    color:#0065fc;
}

#blue a:hover {
    color: #deebff;
}

/*Header and Search bar*/
section {
    padding-left: 15px; 
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin-top: 0px;
}

.align {
    display: flex;
    background-color: #efefef;
    width: 45px;
    height: 45px;
    border-radius: 15px 0px 0px 15px;
}

i {
    color: black;
    display: inline;
    position: absolute;
    margin-top: 15px;
    margin-left: 15.9px;
    width: 45px;
    height: 45px;
    border-radius: 15px 0px 0px 15px;

}

input {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-left: 45px;
    border: 1px #efefef solid;
    width: 175px;
    height: 40.8px;
    padding-left: 15px;
}

button {
    background-color: #0065fc;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: 194px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    width: 75px;
    height: 45px;
    margin: 0px 0px 0px 0px;
    padding: 15px 15px 15px 15px;
}

/*filters*/
.iconsfil {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

#filters{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15;
    margin: 1px 0px 0px 0px;
}

.money {
    display: inline;
    position: absolute;
    background-color: #deebff;
    border-radius: 50px 50px;
    width: 33px;
    height: 33px;
    margin: 0px 0px 0px 30px;
}

#bill {
    color: #0065fc;
    margin: 10px 0px 0px 9px;
    font-size: 12px;
}

#low {
    width: 115px;
    height: 33px;
    border: 1px #efefef solid;
    border-radius: 50px;
    background-color: white;
    color: black;
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 25px;
    font-size: 13px;
}

.fam {
    display: inline;
    position: absolute;
    background-color: #deebff;
    border-radius: 50px 50px;
    width: 33px;
    height: 33px;
    margin-left: 30px; 
}

#child {
    color: #0065fc;
    margin: 10px 0px 0px 11px;
    font-size: 12px; 
}

#friends {
    width: 145px;
    height: 33px;
    border: 1px #efefef solid;
    border-radius: 50px;
    background-color: white;
    color: black;
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 25px;
    font-size: 12px;
}

.love {
    display: inline;
    position: absolute;
    background-color: #deebff;
    border-radius: 50px 50px;
    width: 33px;
    height: 33px;
    margin-left: 30px; 
}

#rom {
    color: #0065fc;
    margin: 10px 0px 0px 11px;
    font-size: 12px; 
}

#heart {
    width: 105px;
    height: 33px;
    border: 1px #efefef solid;
    border-radius: 50px;
    background-color: white;
    color: black;
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 25px;
    font-size: 12px;
}

.animal {
    display: inline;
    position: absolute;
    background-color: #deebff;
    border-radius: 50px 50px;
    width: 33px;
    height: 33px;
    margin-left: 30px; 
}

#dog {
    color: #0065fc;
    margin: 10px 0px 0px 11px;
    font-size: 12px; 
}

#cat {
    width: 125px;
    height: 33px;
    border: 1px #efefef solid;
    border-radius: 50px;
    background-color: white;
    color: black;
    margin: 0px 0px 0px 30px;
    padding: 0px 0px 0px 25px;
    font-size: 12px;
}
