/*LOGO AND NAV*/
body {
    background-color:white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 1%;
}

.logo {
    width: 95px;
    height: 50px;
}

.nav links, li {
    display: inline-block;
    padding: 0px 40px
}

.blue, a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black; 
}

.blue a:hover {
    color: #0065fc;
    padding-top: 35.5px; 
    border-top-style: solid;
    border-top-width: 2px;
}

#blue a {
    font-weight: bold;
    color:#0065fc;
}

#blue a:hover {
    color: #deebff;
}

/*Header and Search bar*/
section {
    padding-left: 15px; 
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

.align {
    display: flex;
    background-color: #efefef;
    width: 45px;
    height: 45px;
    border-radius: 15px 0px 0px 15px;
}

i {
    color: black;
    display: inline;
    position: absolute;
    margin-top: 15px;
    margin-left: 15.9px;
    width: 45px;
    height: 45px;
    border-radius: 15px 0px 0px 15px;

}

input {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-left: 45px;
    border: 1px #efefef solid;
    width: 175px;
    height: 40.8px;
    padding-left: 15px;
}

button {
    background-color: #0065fc;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: 194px;
    border: none;
    border-radius: 0px 15px 15px 0px;
    width: 75px;
    height: 45px;
    margin: 0px 0px 0px 0px;
    padding: 15px 15px 15px 15px;
}

/*filters*/
.filter {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.filter{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    font-size: 15px;
}

.money {
    background-color: #deebff;
    border-radius: 50px;
    border: 0px #deebff solid;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    z-index: 2;
}

#bill {
    background-color:#deebff;
    border-radius: 50px 50px;
    /* width: 33px;
    height: 33px; */
    color: #0065fc;
    display: inline;
    position: absolute;
    margin: 9px 0px 0px 10px;
    z-index: 1;
}

#low {
    background-color: white;
    color: black;
    border: 1px #efefef solid;
    border-radius: 20px 20px 20px 20px;
    width: 110px;
    height: 33px;
    padding: 5px 0px 5px 25px;
    z-index: 3;
}

/* .family {
    margin-left: 75px; 
}

#fam {
    background-color: white;
    color: black;
    border: 1px #efefef solid;
}
#rom {
    background-color: white;
    color: black;
    border: 1px #efefef solid;
}
#pet {
    background-color: white;
    color: black;
    border: 1px #efefef solid;
}
.oval {
    background-color: white;
    color: black;
    border: 1px #efefef solid;
    border-radius: 20px 20px 20px 20px;
    width: 175px;
    height: 35px;
    /* margin: 5px 15px 25px 15px;
    padding: 5px 5px 5px 15px; */
} */

.city {
    
}