/*LOGO AND NAV*/
body {
    background-color:white;
    margin: 0px;
}

nav {
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
}

nav ul li:first-child {
    margin-right: auto;
}

.logo {
    width: 95px;
    height: 50px;
}

.blue, a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: black; 
}

.blue a:active {
    color: #0065fc;
    border-top-style: solid;
    border-top-width: 2px;
}

.sign-up-btn a {
    font-weight: bold;
    color:#0065fc;
}

.sign-up-btn a:active {
    color: #deebff;
}

ul {
    list-style-type: none;
}
/*Header and Search bar*/
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    margin-bottom: 10px;
    padding-left: 35px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin-top: 0px;
    padding-left: 35px;
}

form {
    padding-left: 35px;
    margin-bottom: 17px;
}

.geo-marker {
    background-color: #efefef;
    padding: 15px 18px 18px 18px;
    border-radius: 15px 0px 0px 15px;
    font-size: 15px;
}

.search-bar {
    padding: 15.1px;
    border: 1px solid lightgray;
    margin: -5px;
    font-weight: bold;
}

.blue-btn {
    font-family: 'Raleway', sans-serif;
    background-color:#0065fc;
    color: white;
    border-radius: 0px 15px 15px 0px;
    padding: 17px;
    font-size: 12px;
    border-style: none;
    margin-left: 1px;
}

.mobile-button {    
    display: none;
}

/*filters*/
.filter-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

span p {
    padding-left: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.filter-icons {
    color: #0065fc;
    background-color: white;
    border: 2px solid #efefee;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    font-size: 16px;
    padding: 0px 10px 0px 5px;
    text-align: left;
    margin: 10px;
    white-space: nowrap;
}

.filter-icons span {
    padding: 0px 15px 0px 0px;
    color: black;
}

.filter-icons span:hover {
    color: #0065fc;
}

.icon-bak {
    background-color: #deebff;
    height: 28px;
    width: 39px;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    vertical-align: middle;
    margin-left: -9px;
    font-size: 19px;
}

/* info sentence */
.cityinfo {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin: 30px 0px 0px 0px;
    padding-left: 35px;
}

.infoicon {
    display: inline;
    position: absolute;
    border: 3px #efefef solid;
    border-radius: 50px 50px;
    width: 25px;
    height: 25px;
    margin: 0px 0px 10px 2px;
}

#info {
    color: #0065fc;
    font-size: 13px;
    margin: 5px 0px 0px 10px;
}

#infosen {
    font-size: 15px;
    margin: 0px 0px 0px 40px;
}

#infosen span {
    display: block;
}

/* acommdations & most popular */
.greyboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
  /* Main */
.greyboxes main {
    max-width: 60%;
    overflow: hidden;
}

main {
    background-color: #efefee;
    border-radius: 25px;
    padding: 10px;
}


.title h1 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    margin-left: 23px;
    padding-left: 0px;
}

.main-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.boxes {
    width: 30%;
    margin: 5px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 8px 1px  lightgrey;
    padding: 5px;
}

.boxes h1{
    font-family: 'Raleway', sans-serif;
    padding-left: 0px;
}

.boxes ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.boxes li  {
    padding: 8px;
}
.boxes .fas {
    margin: 0px;
}

.boxes .fa-star {
    color: #0065fc;
    padding: 0px;
}

.boxes .fa-star::before {
    margin: -6px;
}

.boxes .grey-stars {
    color: #efefef;
}

.boxes p {
    font-family: 'Raleway', sans-serif;
}

.card-image {
    height: 100%;
    overflow: hidden;
}
.card-image img {
    width: 100%;
    height: 19vh;
    border-radius:18px 18px 0px 0px;
}

.grey-button {
    border-radius: 15px;
    margin-top: 8px;
    padding: 8px;
    width: 146px;
    background-color: #efefef;
    color: black;
    font-size: 15px;
    border: none;
}

  /* ASIDE */
aside {
    background-color: #efefee;
    border-radius: 25px;
    width: 30%;
    height: 100%;
    padding: 0px 19px 25px 19px;
}

.fa-chart-line {
    padding-left: 250px;
    padding-top: 26px;
    font-size: 20px;
}

.popwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

aside h1 {
    padding-left: 0px;
}

.popular-headline {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.boxes-aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 8px 1px  lightgrey;
    padding: 5px;
    margin: 11px;
}
.image-container {
    width: 40%;
    overflow: hidden;
}
.image-container img {
    width:100%;
    height: 23vh;
    object-fit:cover;
    object-position: center;
    border-radius: 14px 0px 0px 14px;
}

.description {
    width: 60%;
    padding-left: 10px;
}

.description h1 {
    padding-left: 0px;
    margin-top: 10px;
    height: 25%;
}

.description p {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    height: 46%;
}

.description ul {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.description li {
    padding: 7px;
}

.description .fa-star {
    margin: 0px;
    color: #0065fc;
    padding: 0px;
}

.description .grey-stars {
    color: #efefef;
} 

.description .fa-star::before {
    margin: -6px;
}

.wrap {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 35px 35px 35px
}

.card {
    background-color: white;
    box-shadow: 5px 5px 8px 1px lightgrey;
    border-radius: 25px;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 363px;
    border-radius: 25px 25px 0px 0px;
}

.tall-wrap, .small-wrap {
    width: 23%;
}

.tall-wrap img {
    height: 400px;
}

.tall-wrap h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 10px;
    height: 40px;
}

.small-wrap h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 7px;
    padding-left: 10px;
    height: 30px;
}

#Notresecondtop img {
    height: 150px;
    }

#Longchampsecondbottom img {
    height: 200px;
}

#Pomèguesfirsttop img {
    height: 210px;
}

#Frioulfirstbottom img {
    height: 145px;
}

footer {
    background-color: #efefef;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.row a:hover {
    color: white;
}

.column ul {
    padding-left: 215px;
}

.column li {
    height: 36px;
}

.about-column ul {
    padding-top: 41px;
    padding-left: 50px;
}

@media only screen and (max-width: 768px) {
.greyboxes {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

.boxes h1 {
    height: 16px;
}

.boxes p {
    height: 10px;
}

.fa-chart-line {
    padding-left: 25px;
    padding-top: 28px;
}

.filter-section {
    flex-wrap: wrap;
    padding-left: 33px;
}

.filter-section p {
    width: 100%;
    padding-left: 6px;
    font-size: 18px;
}

.greyboxes main {
    max-width: 98%;
    overflow: hidden;
}

aside {
    width: 90%;
    margin-bottom: 15px;
}

.popwrap {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: flex-start; */
    flex-wrap: wrap;
}

.boxes-aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 28%;
}

.image-container{
    width: 100%;
}

.description {
    width: 96%;
    height: 90px;
}

.description h1{
    margin: 0px;
    height: 54%;
}

.description p {
    height: 19%;
    margin: 0px;
}

.description ul {
    margin: 0px;
}

.card-image img {
    height: 12vh;
}

.image-container img {
    width: 100%;
    height: 12vh;
    border-radius: 14px 14px 0px 0px;
    object-fit: none    ;
}

#Pomèguesfirsttop h3 {
    font-size: 16px;
    padding-left: 10px;
}

#Frioulfirstbottom h3 {
    font-size: 16px;
    padding-left: 10px;
}

#Calanquessecond h3 {
    font-size: 14px;
    padding-left: 15px;
    margin-top: 5px;
}

#Notresecondtop h3 {
    font-size: 12px;
    padding-left: 6px;
}

#Longchampsecondbottom h3 {
    padding-left: 11px;
    font-size: 15px
}

.act {
    margin-left: 20px;
}

.row {
    width: 83%;
}

.column ul {
    padding-left: 114px;
}

.column li {
    height: 0%;
    padding: 5px;
}

@media only screen and (max-width: 600px){
/* Makes main and aside stack up in mobile view */
aside {
    width: 100%;
    border-radius: 0px;
    padding: 0px;
}

aside h1 {
    padding-left: 12px;
}

.fa-chart-line {
    padding-left: 187px;
    padding-top: 29px;
}

.popwrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* Makes cards stack in mobile view */
.boxes {
    width: 100%;
}

.card-image img {
    height: 21vh;
}

nav ul {
    flex-wrap: wrap;
}

nav ul li:nth-child(1) {
    order: 1;
    width: 50%;
    padding-right: 0px;
}

nav ul li:nth-child(2) {
    order: 3;
    width: 50%;
}

nav ul li:nth-child(3) {
    order: 4;
    width: 50%;
}

nav ul li:nth-child(4) {
    order: 2;
    width: 50%;
}

.blue a:active {
    display: none;
}

.blue {
    border-bottom: 3px solid #efefee;
}

.blue:active {
    border-bottom: 3px solid #0065fc;
}

.logo-mobile a {
    padding: 24px 24px 0px 22px;
}

.sign-up-btn a {
    padding: 22px 31px 24px 109px;
}

.accom-mobile a {
    padding: 24px 24px 0px 32px;
}

.activ-mobile a {
    padding: 24px 24px 0px 62px;
}

.filter-icons {
    margin: 7px;
}

.filter-section {
    flex-wrap: wrap;
    padding-left: 35px;
}

.filter-section p {
    width: 100%;
    padding-left: 10px;
    
}

.cityinfo {
    padding-left: 10px;
}

#infosen span {
    display: inline-block;
}

.mobile-button {
    display: inline-flex;
    font-family: 'Raleway', sans-serif;
    background-color:#0065fc;
    color: white;
    border-radius: 13px 13px 13px 13px;
    border-style: none;
    padding: 18px;
    font-size: 12px;
    margin-left: -10px;
}

.blue-btn {
    display: none;
}

.cash {
    order: 1;
}

.kids {
    order: 3;
}

.rom {
    order: 2;
}

.animal {
    order: 4;
}

footer {
    margin-right: -15px;
    height: 100%;
    width: 100%;
}

.greyboxes main {
    max-width: 100%;
    padding-left: 9px;
    background-color: white;
}

.title h1 {
    font-size: 22px;
    margin-left: 0px;
}

.grey-button {
    background-color: white;
    margin-top: 10px;
}

.greyboxes {
    flex-direction: column-reverse;
    padding-left: 0px;
    padding-right: 0px;
}

ul .footercolumns {
    padding-left: 35px;
}

.act {
    margin-left: 20px;
}

.boxes-aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
}

.image-container{
    width: 73%;
    height: 100%;
}

.description {
    width: 96%;
    height: 162px;
}

.description h1{
    padding-top: 6px;
    margin: 0px;
    height: 33%;
}

.description p {
    height: 45%;
    margin: 0px;
}

.image-container img {
height: 23vh;
border-radius: 14px 0px 0px 14px;
}

.boxes h1 {
    margin-top: 7px
}

.boxes p {
    margin: 0px;
    height: 100%;
}

.boxes ul {
    margin: 0px;
}

.actbox h1 {
    font-size: 23px;
    padding-left: 17px;
}

.wrap {
flex-direction: column;
align-items: center;
padding-top: 5px;
padding: 15px 0px 0px 0px;
}

.tall-wrap, .small-wrap {
    width: 90%;
}

.tall-wrap h3 {
    height: 32px;
}

#Notresecondtop img,
#Longchampsecondbottom img,
#Pomèguesfirsttop img,
#Frioulfirstbottom img,
.card img {
    height: 150px;
}

#Notresecondtop h3 {
    font-size: 15px;
    padding-left: 10px;
}

#Calanquessecond h3 {
    font-size: 15px;
    padding-left: 15px;
    margin-top: 5px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.column ul {
    padding-left: 49px;
}

nav ul li a {
    display: inline-block;
    flex-wrap: wrap;
    width: 50%;
}